html
    head 
        <!-- Global site tag (gtag.js) - Google Analytics -->
        script(async  src="https://www.googletagmanager.com/gtag/js?id=UA-160668988-1")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config','UA-160668988-1');
    

    block content
       h1= title
       p Welcome to #{title}